* {
    box-sizing: border-box;
}

body, html {
    background: -webkit-linear-gradient(#A1FFCE, #FAFFD1) no-repeat center center fixed;
    height: 100%
}

/*---------------------------------------------------Flex Container---------------------------------------------------------------------------------------*/

.container {
    margin: 0 auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*---------------------------------------------------Content---------------------------------------------------------------------------------------*/

.nav-container {
    position: fixed;
    left: 19.4%;
    top: 2%;
}

nav {
    background-color: white;
    opacity: .7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px;
    height: 65px;
    width: 100%;
    border: 3px solid grey;
    box-shadow: 0px 5px 10px black; 
    border-radius: 10px;
}

.question-container {
    border: 2px solid #2395BC;
    border-radius: 50%;
    margin: 0px 70px;
    height: 50px;
    text-decoration: none;
    font-size: 24px;
    font-family: Tahoma;
}

/* ADD THIS CLASS WHEN QUESTION IS SELECTED-----------------------------------------------------------------------------------------------------------------------------------------*/
.question-pulse {
    border: 4px solid #2395BC;
    border-radius: 50%;
    height: 50px;
    -webkit-animation: pulse 1s ease-out;
    -moz-animation: pulse 1s ease-out;
    animation: pulse 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* REMOVE THIS CLASS WHEN QUESTION IS SELECTED-----------------------------------------------------------------------------------------------------------------------------------------*/
.pre-question-pulse {
    border: 4px solid #2395BC;
    border-radius: 50%;
    height: 50px;
}

.question-container img{
    transform: translateY(-51px);
    margin-bottom: 30px;
    height: 51px;
    width: 52px;
    border: none;
    z-index: 10;
}

.question-spacing {
    margin-bottom: 150px;
}

.image-spacing {
    margin-top: 100px;
}

img {
    display: block;
    margin: 0px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 480px;
    width: 100%;
}

h2 {
    font-family: Tahoma;
    margin: 0px;
}

hr {
    margin: 10px 0;
    border: 2px solid black;
    width: 100%;
}

/*---------------------------------------------------Question Table---------------------------------------------------------------------------------------*/

table {
    width: 900px;
    border-spacing: 20px;
    margin: 0 auto;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Tahoma;
    font-size: 24px;
    height: 70px;
    width: 425px;
    padding: 15px;
    text-align: center;
}

button:hover {
    background-color: #353BAE;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

/*---------------------------------------------------Lightbox CSS---------------------------------------------------------------------------------------*/

.answer-box {
    display: none;
    position: fixed;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 85%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
}

#map {
    display: none;
    position: absolute;
    top: 2%;
    left: 62%;
    border: 1px solid black;
    border-top-right-radius: 5px;
    height: 60%;
    width: 37%;
}

.answer-pic {
    position: relative;
    top: 2%;
    left: 1%;
    background-image: url(../images/question1-answer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    border-top-left-radius: 5px;
    height: 60%;
    width: 60%;
}

/*------------------------------------------Answer Box-------------------------------------------------------------------------------------------------------------------*/

#answer-verdict {
    padding: 30px 5px 0px 5px;
    position: absolute;
    text-align: center;
    font-family: Tahoma;
    font-size: 36px;
    width: 37%;
    height: 23%;
    left: 62%;
    top: 63.5%;
    background-color: white;
    opacity: .8;
    border: 1px solid black;   
    border-radius: 5px;
}

/*------------------------------------------Light Box Description Table-------------------------------------------------------------------------------------------------------------------*/

.table-description {
    position: absolute;
    top: 63.5%;
    left: 1%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35%;
    width: 60%;
}

.answer-table {
    border: 1px solid black;
    border-spacing: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 100%;
    font-family: Tahoma;
    font-size: 16px;
}

#label-1 {
    background-color: #353BAE;
    border-top-left-radius: 5px;
    color: white;
    padding-left: 0px;
    text-align: center;
}

#label-2 {
    background-color: #353BAE;
    border-top-right-radius: 5px;
    color: white;
    padding-left: 0px;
    text-align: center;
}

.answer-table td {
    border: 1px solid black;
    padding-left: 20px;
}

.category-table {
    width: 40%;
}

.stripe {
    background-color: #E4E4E4;
}

.white {
    background-color: white;
}
/*------------------------------------------Map Box Related-------------------------------------------------------------------------------------------------------------------*/

.goToLocation {
    z-index: 1;
    font-family: Tahoma;
    font-size: 12px;
    background-color: white;
    position: absolute;
    top: 6%;
    left: 72%;
    height: 4%;
    width: 18%;
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 4px;
}

/*------------------------------------------Exiting LightBox-------------------------------------------------------------------------------------------------------------------*/

.next {
    position: relative;
    top: 29%;
    left: 64%;
}

.next button {
    background: -webkit-linear-gradient(#F3FF37, #E5A000);
    width: 370px;
    height: 55px;
}

.next button:hover {
    background: -webkit-linear-gradient(#E5A000, #F3FF37);
    color: black;
    text-decoration: underline;
    cursor: pointer;    
}

/*------------------------------------------Pulse Animation-------------------------------------------------------------------------------------------------------------------*/

@-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1);
      opacity: 0.0;
    }
    25% {
      -moz-transform: scale(1.25);
      opacity: 0.1;
    }
    50% {
      -moz-transform: scale(1.5);
      opacity: 0.3;
    }
    75% {
      -moz-transform: scale(1.75);
      opacity: 0.5;
    }
    100% {
      -moz-transform: scale(2);
      opacity: 0.0;
    }
}
 
 @-webkit-keyframes pulse {
    0% {
       -webkit-transform: scale(1);
       opacity: 0.0;
    }
    1% {
       -webkit-transform: scale(1.1);
       opacity: 0.9;
    }
    99% {
       -webkit-transform: scale(1.9);
       opacity: 0.01;
    }
    100% {
       -webkit-transform: scale(2);
       opacity: 0.0;
    }
 }